/* Page Setup */

:root {
	/* Brand Colors */
	--primary-100: hsl(199, 8%, 99%);
	--primary-200: hsl(198, 45%, 94%);
	--primary-300: hsl(199, 33%, 84%);
	--primary-400: hsl(199, 36%, 78%);
	--primary-500: hsl(199, 29%, 68%);
	--primary-600: hsl(199, 31%, 46%);
	--primary-700: hsl(199, 48%, 34%);
	--primary-800: hsl(198, 66%, 18%);
	--primary-900: hsl(198, 83%, 12%);

	--secondary: hsl(43, 26%, 93%);

	/* Supporting Colors */
	--success: hsl(111, 29%, 68%);

	--warning: hsl(64, 29%, 68%);

	--danger: hsl(7, 29%, 68%);

	--info: hsl(180, 33%, 70%);

	/* Neutral Colors */
	--gray-100: #f5f5f5;
	--gray-200: #e5e5e5;
	--gray-300: #d4d4d4;
	--gray-400: #a3a3a3;
	--gray-500: #737373;
	--gray-600: #525252;
	--gray-700: #404040;
	--gray-800: #262626;
	--gray-900: #171717;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	background: none;
}

h1 {
	text-transform: uppercase;
	font-family: "Inter";
	color: var(--gray-800);
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 1.2rem;
}

.fa-user {
	color: var(--gray-200);
}

.container {
	background-color: var(--gray-200);
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: auto 1fr;
	position: relative;
}

/* Sidebar */
.sidebar {
	grid-area: 1 / 1 / 3 / 2;
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: 1rem;
	background-color: var(--primary-400);
	font-family: "Sometype Mono";
	margin: 1rem;
	border-radius: 1rem;
	height: 92vh;
	position: fixed;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--gray-800);
	padding: 0.8rem;
	border-radius: 1rem;
}

.logo--image {
	font-weight: 800;
	font-size: 1.3rem;
	color: var(--primary-500);
}

.logo--name {
	font-family: "Sometype Mono";
	font-weight: 900;
	font-size: 1.7rem;
	color: var(--primary-500);
	text-transform: uppercase;
	word-spacing: -10px;
}
ul {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-left: 1rem;
	font-family: "Inter";
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.6rem;
	font-weight: 100;
	color: var(--gray-800);
}

.links {
	margin-top: 2rem;
}
li {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.nav--icon {
	font-size: 1.2rem;
}

.nav--icon.fa-user {
	color: var(--gray-800);
}

.active {
}

/* Header */
header {
	grid-area: 1 / 2 / 2 / 3;
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10rem;
	padding: 0.8rem 1rem;
	margin: 1rem;
	background-color: var(--gray-100);
	border-radius: 1rem;
	color: var(--gray-800);
	font-family: "Inter";
	font-weight: 600;
}

.actions {
	display: flex;
	align-items: center;
	gap: 20px;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.search--input {
	flex: 1;
	border: none;
	border-radius: 1rem;
	text-align: right;
	padding: 0.5rem 1rem;
	background-color: var(--gray-200);
	color: var(--gray-500);
	font-family: "Inter";
	font-weight: 700;
}

.profile {
	display: flex;
	gap: 10px;
	align-items: center;
}

.profile--user-image {
	margin-left: 20px;
	align-self: center;
	background-color: var(--success);
	border-radius: 50%;
	font-size: 2rem;
	padding: 0.5rem;
	height: 1rem;
	width: 1rem;
}

/* Main */
main {
	grid-area: 2 / 2 / 3 / 3;
	display: grid;
	grid-template-columns: 6fr 2fr;
	grid-template-rows: auto auto 1fr;
	gap: 30px 10px;
	margin: 1rem;
	font-family: "Sometype Mono";
}

.right-side {
	display: flex;
	flex-direction: column;
	gap: 3rem 10px;
	margin-left: 1rem;
	min-width: 300px;
}

.section--welcome {
	grid-area: 1 / 1 / 2 / 3;
	display: grid;
	grid-template-columns: auto 1fr;
	border-radius: 0.5rem;
	gap: 5px 20px;
}

.welcome--user-image {
	grid-area: 1 / 1 / 3 / 2;
	align-self: center;
	background-color: var(--success);
	border-radius: 50%;
	font-size: 2rem;
	padding: 1rem;
	height: 2rem;
	width: 2rem;
}

.welcome--message {
	align-self: flex-end;
	font-weight: 600;
	font-size: 0.75rem;
	color: var(--gray-600);
}

.welcome--user {
	font-family: "Inter";
	align-self: flex-start;
	font-size: 1.3rem;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--gray-800);
}

.section--projects {
	grid-area: 2 / 1 / 3 / 2;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 1rem;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 1rem;
}

.card {
	padding: 2rem;
	display: grid;
	grid-template-rows: auto auto 1fr;
	min-height: 250px;
	gap: 5px;
	font-family: "Sometype Mono";
	font-weight: 400;
	line-height: 1.5rem;
	background-color: var(--gray-100);
	border-radius: 1rem;
}

.card h2 {
	text-transform: uppercase;
	font-family: "Inter";
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 1.1rem;
	color: var(--gray-700);
}

.card p {
	color: var(--gray-700);
}

.card--actions {
	justify-self: end;
	align-self: end;
	display: flex;
	gap: 30px;
	font-size: 1.3rem;
	color: var(--gray-700);
}

.section--announcements {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: fit-content;
}

.announcements--card {
	display: grid;
	grid-template-rows: repeat(auto, 5);
	gap: 20px;
	font-size: 0.9rem;

	background-color: var(--gray-100);
	padding: 2rem;
	border-radius: 1rem;
}

.announcements--card h3 {
	text-transform: uppercase;
	font-family: "Inter";
	font-weight: 800;
	letter-spacing: 1px;
	font-size: 1rem;
	color: var(--gray-700);
}

.announcements--card p {
	color: var(--gray-700);
}

.announcements--item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.divider {
	border-bottom: 1px solid var(--primary-500);
}

.section--tasks {
	grid-area: 2 / 1 / 3 / 2;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	gap: 1rem;
}

.view-all {
	justify-self: end;
}

.tasks--list {
	grid-row: 2 / 3;
	grid-column: 1 / 3;
	background-color: var(--gray-100);
	padding: 2rem;
	border-radius: 1rem;
}

.tasks--item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	padding: 1rem 0;
	align-items: center;
	gap: 10px;
}

.tasks--item:hover {
	cursor: pointer;
}

.tasks--item input {
	font-family: "Inter";
	letter-spacing: 1px;
	font-size: 1rem;
	font-weight: 600;
	color: var(--gray-800);
}

.tasks--item p {
	font-size: 0.8rem;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--gray-800);
}

.new {
	background-color: var(--success);
	padding: 0.3rem 1rem;
	border-radius: 1rem;
}

.urgent {
	background-color: var(--warning);
	padding: 0.3rem 1rem;
	border-radius: 1rem;
}

.past-due {
	background-color: var(--danger);
	padding: 0.3rem 1rem;
	border-radius: 1rem;
}
